h1 {
  letter-spacing: 0.1em;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 5em;
  transition: all 0.12s ease;
  cursor: pointer; }

.my-button {
  position: relative;
  top: 0px;
  left: 0px;
  text-shadow: rgba(0, 0, 0, 0.4) 7px 7px 0px; }
  .my-button.my-button-depressed {
    top: 7px;
    left: 7px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px; }
